{% layout "server/layouts/base.liquid" %}

{% block head %}
  <title>Game</title>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/css/game.css">
{% endblock %}


{% block content %}

  <div class="game-container" id="game-container" data-images="{{ images | json | escape }}" data-previous-page="{{ previousPage }}">
    <div class="game">
      <div>
        <a href="{{ previousPage }}">Go back</a>
        <small>Your category</small>
        <h1 id="category-title"></h1>

        <div>
          <svg>
            <line x1="0" y1="1" x2="100%" y2="1"/>
          </svg>
          <div class="alt-container">
            <p>Alt=</p>
            <p id="alt-display"></p>
          </div>
          <svg>
            <line x1="0" y1="1" x2="100%" y2="1"/>
          </svg>
        </div>

      </div>
      <section>
        <h2>Match the corresponding image!</h2>

        <ul id="image-grid"></ul>

        <footer>
          <h3>
            <span class="break">0</span>Streak</h3>
          <h3>
            <span class="break">0</span>Correct</h3>
          <h3>
            <span class="break">0</span>Wrong</h3>
        </footer>
      </section>

      <dialog id="result-dialog">
        <div id="dialog-content"></div>
      </dialog>


    </div>
  </div>

{% endblock %}}}}}}}}}